# .env.example
DEBUG=true               # Set to True to enable debug mode
LOG_LEVEL=WARNING        # DEBUG, INFO, WARNING, ERROR
CHEAT_MODE=false         # Set to true to enable cheat mode at startup
CONFIG_PATH=./config.json  # Default config file path
HIGHSCORE_PATH=.        # Directory where the highscore file will be stored (filename set in config.json)
ASSETS_DIR=src/pacman/assets  # Assets dir path 